#
# Copyright (c) 2019 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_ACRN

config BOARD
	default "acrn"

config JAILHOUSE_X2APIC
	bool "access APIC in x2APIC mode"

endif # BOARD_ACRN
